/* common styles */

* {
    margin: 0;
    padding: 0;
}

body {
    background: #ffffff url(img/fon.jpg) no-repeat center fixed;
    background-size: 100vw 100vh;
}

ul li{
    list-style-type: none;
}

a {
    text-decoration: none;
}

header, main, footer {
    width: 1024px;
    margin: 0 auto;
}

/* styles for header */

header {
    background: rgb(204, 172, 201) url(img/road.jpeg);
    background-size: 1024px 600px;
}

.head_img {
    padding: 20px;
    text-align: center;
}

.head_h1 {
    padding: 20px;
    color: rgb(238, 235, 228);
    text-align: center;
    margin-top: 270px;
    font-family: 'Montserrat', sans-serif;

}

.head_h1 h1 {
    opacity: 0.8;
    text-shadow: black 0px 20px 20px;
}

.head_blockquote {
    margin-top: 5px;
    padding: 20px;
    font-size: 20px;
    text-align: right;
    color: rgb(255, 255, 255);
    opacity: 0.8;
}